@media screen and (max-width: 1024px) {
	.carousel-caption {	
		margin:0 0 0 0;
	}

	.carousel__a {
		bottom: 102px;
		right: 96px;
	}
	.carousel__b {
		bottom: 102px;
		right: 96px;
	}
	.carousel__c {
		bottom: 102px;
		right:75px;
	}
	h1, h2, h3, h4, h5, h6 {
		font-size: 30px;
		margin-bottom: 0px;
	}
	.section-title {
		font-size: 25px;
		margin-bottom: 20px;
	}
	.image__wrapper h5{
		font-size:11px;
	}
	.photo-grid .grid-item:hover figcaption p{
		
		left: 16px;
	}
}
@media screen (min-width: 579px) and (max-width: 768px) {
	.logo__static{
		position: absolute;
		top: -10px;
		left: -21px;
		z-index: 10;
	}
	.carousel-caption {	
		margin:0 0 0 0;
	}

	.carousel__a {
		bottom: 61px;
		right: 81px;
	}
	.carousel__b {
		bottom: 60px;
		right: 80px;
	}
	.carousel__c {
		bottom: 50px;
		right: 53px;
	}
	.carousel-caption p {
		font-size: 12px;
	}
	.carousel-caption h1 {
		font-size: 19px;
	}
	.image__wrapper h5{
		font-size:10px;
	}
	.to__right {
		text-align: center;
	}
	.small__center{
		text-align: center;
	}
	.photo-grid .grid-item:hover figcaption p{
		
		left: 40px;
	}
	.photo-grid .grid-item:hover img {
		-webkit-transform: scale(1.4);
		-moz-transform: scale(1.4);
		transform: scale(1.2);
	}
}
@media screen and (max-width: 480px) {
	.logo__static{
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 10;
		width:71%
	}
	.carousel-caption {	
		margin:0 0 0 0;
	}

	.carousel__a {
		bottom: -16px;
		right: 30px;
	}
	.carousel__b {
		bottom: 0px;
		right: 30px;
	}
	.carousel__c {
		bottom: 6px;
		right: 32px;
	}
	.carousel-caption h1 {
		font-size: 14px;
	}
	.carousel-caption p {
    font-size: 9px;
	}
	.photo-grid .grid-item:hover figcaption p {
		left: -24px;
	}
	.photo-grid figcaption p {
		    font-size: 9px !important;
	}
	.overlay_headertext {
		font-size: 14px;
	}
	.text {
		font-size: 11px;
		text-align:left;
	}
	
}
@media handheld and (min-width: 320px){
	h1, h2, h3, h4, h5, h6 {
    font-size: 17px !important;
	}
	.overlay_headertext {
		font-size: 14px;
	}
	.text {
		font-size: 10px;
		left: 40%;
	}
	.small__margin{
		    left: 29%;
	}
	
}
